---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FlexLayout from "./FlexLayout.astro";

import GithubIcon from "~/components/icons/github.svg";
import LinkIcon from "~/components/icons/link.svg";
import Section from "~/components/layout/Section.astro";

type Props = CollectionEntry<"projects">["data"];

const { name, githubUrl, projectUrl, coverImageUrl } = Astro.props;
---

<FlexLayout>
	<Section>
		<article>
			<div class="prose">
				{coverImageUrl && <Image src={coverImageUrl} alt={name} />}
				<div class="title">
					<h1>{name}</h1>
					<hr />
					<a class="link" href={githubUrl}>
						<GithubIcon class="icon-link" />
						<span>Github</span>
					</a>
					<a class="link" href={projectUrl}>
						<LinkIcon class="icon-link" />
						<span>Project link</span>
					</a>
				</div>
				<slot />
			</div>
		</article>
	</Section>
</FlexLayout>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.icon-link {
		width: 24px;
		height: 24px;
	}
	.link {
		display: flex;
		align-items: center;
		margin-top: 8px;
		gap: 12px;
	}
</style>
